.navbar-bg:before {
    background: none;
}
.navbar-bg:after {
    background-color: #eeeeee;
}

.toolbar {
    background-color: #ffffff;
}

.toolbar-bottom:after, .ios .toolbar-bottom-ios:after, .md .toolbar-bottom-md:after, .aurora .toolbar-bottom-aurora:after {
    display: none;
}

.toolbar-bottom:before, .ios .toolbar-bottom-ios:before, .md .toolbar-bottom-md:before, .aurora .toolbar-bottom-aurora:before {
    background-color: #eeeeee;
}

.subnavbar:before {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    top: 100%;
    bottom: auto;
    height: 1px;
    pointer-events: none;
    background-color: #eeeeee;
}

.subnavbar:after {
    background-color: #eeeeee;
}






/* NO SELECT + HIGHLIGHT COLOR */
* {
  user-select: none;
}
*::selection {
  background: none;
}
*::-moz-selection {
  background: none;
}





.icon-flex, .icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-wrapper {
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #ffffff;
    font-size: 3rem;
    width: 50px;
    height: 50px;
}
.icon-wrapper i {
    color: #ffffff;
}
