html,
body,
:not([style*="background-color:"]) {
    background-color: rgb(0, 0, 0) !important;
}
html,
body,
:not([style*="color:"]) {
    color: rgb(255, 244, 207) !important;
}

h1:not([style*="color:rgb(255, 213, 135)"]),
h2:not([style*="color:"]),
h3:not([style*="color:"]),
h4:not([style*="color:"]),
h5:not([style*="color:"]),
h6:not([style*="color:"]) {
    color: rgb(255, 213, 135) !important;
}
cite:not([style*="color:"]) {
    color: rgb(186, 255, 225) !important;
}
input:not([style*="background-color:"]),
textarea:not([style*="background-color:"]),
button:not([style*="background-color:"]),
[role="button"] {
    background-color: rgb(0, 30, 61) !important;
}
input:not([style*="background-color:"]):hover,
textarea:not([style*="background-color:"]):hover,
button:not([style*="background-color:"]):hover,
[role="button"]:hover {
    background-color: rgb(0, 37, 76) !important;
}
input:not([style*="background-color:"]):active, input:not([style*="background-color:"]):focus,
textarea:not([style*="background-color:"]):active, textarea:not([style*="background-color:"]):focus,
button:not([style*="background-color:"]):active, button:not([style*="background-color:"]):focus,
[role="button"]:active, [role="button"]:focus {
    background-color: rgb(0, 40, 80) !important;
}
a:not([style*="color:#ffffff"]) {
    color: rgb(186, 255, 255) !important;
}
a:not([style*="color:"]):hover {
    color: rgb(185, 247, 255) !important;
}
a:not([style*="color:"]):active, a:not([style*="color:"]):focus {
    color: rgb(184, 240, 255) !important;
}
:not([style*="border-color:"]),
::before,
::after {
    border-color: rgb(93, 143, 158) !important;
}
div:empty {
    background-color: rgb(0, 0, 0) !important;
}
input::placeholder,
textarea::placeholder {
    color: rgb(255, 244, 207) !important;
}
input:not([style*="background-image:"]),
textarea:not([style*="background-image:"]) {
    background-image: none !important;
}
