<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>todo list in Vue.js with LocalStorage </title>

    <link rel="stylesheet" href="css/style.css">
    <link disabled id="dark-reader" href="css/dark.css" rel="stylesheet" type="text/css">

    <script>
    function dark_toggle() {
        var el1 = document.getElementById("dark-reader");
        if(el1.disabled) {
            el1.disabled = false;
            localStorage.setItem("darkreader", "enabled");
        } else {
            el1.disabled = true;
            localStorage.setItem("darkreader", "disabled");
        }
    }
     if (localStorage.getItem("darkreader") == "enabled") {
         document.getElementById("dark-reader").disabled = false;
     } else {
         document.getElementById("dark-reader").disabled = true;
     }
    </script>

</head>

<body>

    <div id="app">
        
    <section class="todo-wrapper">
    <div class="content" style="margin-top:20px;">
      <div class="page-header">
      <h1 style="margin-bottom: 0px;
    line-height: 1;font-family: roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #1f1f1f;font-size: 21px;font-weight: 800;box-sizing: border-box;
    padding: 0;
    margin: 0;">Jadwal Literasiku</h1>
        <div>Jadikan Buku Sahabatmu!</div>
        <br/>
    </div>
    </div>
      <h1 class="todo-title">{{ today.day }}, {{ today.date }}</h1>
      <form @keydown.enter.prevent="">
        <input type="text" class="input-todo" v-bind:class="{ active: new_todo }" placeholder="Tambah agenda..." v-model="new_todo" v-on:keyup.enter="addItem">
        <div class="btn btn-add" v-bind:class="{ active: new_todo }"  @click="addItem">+</div>
      </form>

      <div v-if="pending.length > 0">
        <p class="status busy">Kamu memiliki {{ pending.length }} agenda<span v-if="pending.length>1"></span></p>
        <transition-group name="todo-item" tag="ul" class="todo-list">
          <li v-for="(item, index) in pending" v-bind:key="item.title">
            <input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
            <label v-bind:for="'item_' + item.id"></label>
            <span class="todo-text">{{ item.title }}</span>
            <span class="delete" @click="deleteItem(item)"></span>
          </li>
        </transition>
      </div>

      <transition name="slide-fade">
        <p class="status free" v-if="!pending.length" ><img src="https://nourabusoud.github.io/vue-todo-list/images/beer_celebration.svg" alt="celebration">Jadikan buku sahabatmu!<br/>Kamu tidak memiliki agenda</p>
      </transition>

      <div v-if="completed.length > 0 && showComplete">
        <p class="status">Agenda diselesaikan: {{ completedPercentage }}</p>
        <transition-group name="todo-item" tag="ul" class="todo-list archived">
          <li v-for="(item, index) in completed" v-bind:key="item.title">
            <input class="todo-checkbox" v-bind:id="'item_' + item.id" v-model="item.done" type="checkbox">
            <label v-bind:for="'item_' + item.id"></label>
            <span class="todo-text">{{ item.title }}</span>
            <span class="delete" @click="deleteItem(item)"></span>
          </li>
        </transition>
      </div>
      <div class="control-buttons">
        <div class="btn btn-secondary" v-if="completed.length > 0" @click="toggleShowComplete"><span v-if="!showComplete">Tampilkan</span><span v-else>Sembunyikan</span> agenda yang dihapus</div><br/>
        <div class="btn btn-secondary" v-if="todoList.length > 0" @click="clearAll">Hapus semua</div>
      </div>
    </section>
  </div>

  <script src='../js/vue.min.js'></script>



    <script  src="js/index.js"></script>




</body>

</html>
