/* The parent has the "display: grid;" property and it defines the template areas */
.profile-card {
    margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-areas:
	"pc-user pc-user pc-user pc-user-buttons";
	background: #fff;
    background-color: beige;
    border-radius: 8px;	
    width: 100%;
}

/* Direct child of the grid parent. Again we define the name of the "grid-area" porperty */
.pc-user {
	display: grid;
	grid-area: pc-user;
}

.pc-user-info {
	padding: 20px 20px 20px 20px;
}

.pc-user-info > h3 {
    padding-top: 30px;
	font-size: 30px;
	line-height: 1.3em;
    margin-bottom: 6px;
    text-align: center;
}

.pc-user-title {
  text-align: center;
  font-weight: bold;
  font-style: italic;
}

.pc-user-location {
    text-align: center;
    margin-top: -20px; margin-bottom: -20px;
}


/* Again >> direct child of the grid parent. We define the "grid-area" name */
.pc-user-buttons {
	grid-area: pc-user-buttons;
}

.pc-user-buttons .pc-btn {
	display: block;
	padding: 6px 20px;
	font-size: 13px;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	border-radius: 50px;
	border: 1px solid #E5DFEF;
	color: #4CAF50;
	-webkit-transition: background .2s ease-in-out;
	transition: background .2s ease-in-out;
}

.pc-user-buttons .pc-btn:hover {
	background: #4CAF50; color: white;
}

.pc-user-buttons .pc-btn.accent {
	border-color: #4CAF50;
	background: #4CAF50;
	color: #fff;
}

.pc-user-buttons .pc-btn.accent:hover {
	background: #4CAF50;
}

.pc-user-buttons .pc-btn + .pc-btn {
	margin-top: 12px;
}

/* Responsive styling */
@media only screen and (max-width: 1024px) {
	.site {
		padding: 0px;
	}
}

@media only screen and (max-width: 767px) {
	.site {
	}
	/* Here we define new columns and rows template. Then we rearrange the "grid-area" to match our needs. */
	.profile-card {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-areas:
		"pc-user pc-user"
		"pc-user-buttons pc-user-buttons"	
	}


	.pc-user-info {
		padding: 18px 18px 18px 18px;
	}

	.pc-user-buttons {
		padding: 0 15% 50px 15%;
	}
}